<!-- ===== début fragmentMenuAdministrateur -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administrateur</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router2.php?action=vinReadAll">Liste des vins</a></li>
            <li><a class="dropdown-item" href="router2.php?action=vinReadId&target=vinReadOne">Sélection d'un vin par son id</a></li>
            <li><a class="dropdown-item" href="router2.php?action=vinCreate">Insertion d'un vin</a></li> 
            <li><a class="dropdown-item" href="router2.php?action=vinReadId&target=vinDeleted">Suppression d'un vin</a></li> 
          </ul>
        </li>
                
  <!-- ===== fin fragmentMenuAdministrateur -->
